* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-size: cover;
    background-color: lightgoldenrodyellow;
    display: grid;
    grid-template-columns: 30vw 70vw ;
    grid-template-rows: 40vh 35vh 25vh;
    grid-template-areas: 
     "head main"
     "head main"
     "head foot";
    
    

    
    
}

h1, h2, h3, h4, h5, h6 {
    color: darkred;
    padding-top: 3vmax;
    
}

h3 {
    color: white;
}

h5 {
    color: lightgoldenrodyellow;
    padding-bottom: 1rem;
}

h6 {
    color: hotpink;
}

p {
    font-size: smaller;
    padding-top: 2vmax;
    padding-bottom: .5em;
   
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: darkred
}

img {
    background-color: black;
    
}



.head {
    grid-area: head;
    
    background-color: hotpink;
    grid-auto-flow: row;

    
    padding: 1.5em;
   
}

ul {
    text-decoration-style: none;
    list-style: none;
}

li {
    padding: .5em;
}

.main {
    grid-area: main;
    background-color: white;
    display: grid;
    row-gap: .5em solid lightgreen;
    border-bottom: hotpink 1px solid;
}

.foot {
    grid-area: foot;
    color: hotpink;
    font-size: x-small;
    display: grid;
    grid-template-columns: 80%;
    margin: auto;
    

    
}

