* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-size: cover;
    background-color: lightgoldenrodyellow;
    display: grid;
    grid-template-columns: 30vw 70vw ;
    grid-template-rows: 40vh 35vh 25vh;
    grid-template-areas: 
     "head main"
     "head main"
     "head foot";    
}

h1, h2, h3, h4, h5, h6 {
    color: darkred;
    padding-top: .5rem;    
}

h3 {
    color: darkred;
}

h5 {
    color: lightgoldenrodyellow;
    padding-bottom: .5rem;
    font-style: italic;
    margin: auto;
}

h6 {
    color: hotpink;
}

p {
    font-size: smaller;
    padding-top: 2vmax;
    padding-bottom: .5em;
   
}

p2 {
  color: black;
  padding-bottom: 1rem;
  font-style: italic;

}
a {
    color: white;
    text-decoration: none;
    padding-top: .5rem;
}

a:hover {
    color: darkred
}

img {
    background-color: black;
    
}

hr {
    color: lightgoldenrodyellow;
    margin: 10px 0;
}

.head {
    grid-area: head;
    background-color: hotpink;
    padding-left: 1em;
    padding-right: 1em;
    display: inline; 
    grid-row: 25vh auto;
}

ul {
    text-decoration-style: none;
    list-style: none;
}

li {
    padding: .5em;
}

.main {
    grid-area: main;
    background-color: white;
    display: grid;
    row-gap: .5em solid lightgreen;
    border-bottom: hotpink 1px solid;
}

.foot {
    grid-area: foot;
    color: hotpink;
    display: grid;
    grid-template-columns: 80%;
    margin: auto;
    padding-left: 1em;   
}

