* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    
}

body {
    background-color: black;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    

}

.title-bar {
    background-color: black;
    padding: 2em 0;
    margin-bottom: 2em;
}

h1 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    margin: 0 1rem;
}

p {
    margin: 0 1rem;
}

.p-title {
    color: deeppink;
}

.caption {
    font-size: .9rem;
    color: deeppink;
    padding: 0;
}

h2 {
    font-weight: bold;
    color: deeppink;
}

h3 {
    margin: 0 15%;
}

img {
    width: 70%;
    height: auto;
    margin: 1em 15%;
    max-width: 500px;
  }

.horizontal {
    grid-column: span 2;
}

.nav {
    
    margin: 3em 0 2em 0;;
    text-align: center;
    background-color: deepskyblue;
    padding: .5em 0;
}

.p2 {
    color: white;
    margin: .25em 15%;
}

.card {
    background-color: deepskyblue;
    width: 90%;
    margin: 3em auto;
    color: purple;
    border: 2px dotted purple;
    padding: .75em 0;
}

a {
    text-decoration: none;
    color: deeppink;
    background: black;
    padding: 0 1.25rem;
    border-radius: .5rem;
}

a:hover {
    color: darkorchid;
}

.vertical {
    grid-row: span 2;
    
}

.big {
    grid-column: span 2;
    grid-row: span 2;
}




  



