* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-size: cover;
    background-color: lightgoldenrodyellow;
    
    
     
}


h1, h2, h3, h4, h5, h6 {
    color: darkred;
    padding-top: .5rem;    
}

h3 {
    color: lightgoldenrodyellow;
    vertical-align: middle;
}

h5 {
    color: lightgoldenrodyellow;
    padding-bottom: .5rem;
    font-style: italic;
    margin: auto;
}

h6 {
    color: hotpink;
}

p {
    color: lightpink;
    padding-top: 1em;
    padding-bottom: .5em;
   
}

p2 {
  color: black;
  padding-bottom: 1rem;
  font-style: italic;

}

p3 {
    padding-top: 1.5em;

}
a {
    color: white;
    text-decoration: none;
    padding-top: .5rem;
}

a:hover {
    color: lightgreen;
}

img {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: auto;
    
}

.img2 {
    padding-bottom: 1em;
}


.head {
    grid-area: head;
    background-color: hotpink;
    padding: 1em;
    text-align: center;
}

ul {
    color: white;
    margin: .5em auto;
}


li {
    padding: .5em;
    list-style: none;
    display: inline-block;
}

.main {
    
    background-color: indigo;
    padding: 1em;
}

.nav {
    background-color: hotpink;
    text-align: center;
    padding: 1em;
}

.foot {
    color: hotpink;
    padding:1em  1.5em;  
}



.box1 {
    width: 60%;
    height: auto;
    background-color: darkmagenta;
    color: palegoldenrod;
    padding: .5em 1em;
    margin: .5em auto;
    border: 2px dotted palegoldenrod;    
}

.picbox {
    justify-items: auto;
    padding: .5em;
}

@media only screen and (min-width: 1000px) {

    
}
