* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-size: cover;
    background-color: lightgoldenrodyellow;
    display: grid;
    grid-template-rows: .5fe 1.5fr .25fr .5fr;
    grid-template-areas: 
     "head"
     "main"
     "nav"
     "foot";    
}


h1, h2, h3, h4, h5, h6 {
    color: darkred;
    padding-top: .5rem;    
}

h3 {
    color: lightgoldenrodyellow;
    vertical-align: middle;
}

h5 {
    color: lightgoldenrodyellow;
    padding-bottom: .5rem;
    font-style: italic;
    margin: auto;
}

h6 {
    color: hotpink;
}

p {
    color: lightpink;
    padding-top: 1em;
    padding-bottom: .5em;
   
}

p2 {
  color: black;
  padding-bottom: 1rem;
  font-style: italic;

}

p3 {
    padding-top: 1.5em;

}
a {
    color: white;
    text-decoration: none;
    padding-top: .5rem;
}

a:hover {
    color: lightgreen;
}

img {
    width: 100%;
    height: auto;
    margin: auto;
    
}

.img2 {
    padding-bottom: 1em;
}

hr {
    color: lightgoldenrodyellow;
    margin: 10px 0;
}

.head {
    grid-area: head;
    background-color: hotpink;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
}

ul {
    text-decoration-style: none;
    list-style: none;
}

.comms {
    color: hotpink;
    
}

li {
    padding: .5em;
    list-style: none;
    display: inline;
}

.main {
    grid-area: main;
    background-color: hotpink;
    display: grid;
    grid-template:
    "main1" .5fr
    "main2" .5fr
    "main3" 1.5fr;
    
   
}

.nav {
    grid-area: nav;
    background-color: hotpink;
    text-align: center;
    padding-top: 1em;
}

.foot {
    grid-area: foot;
    color: hotpink;
    display: grid;
    grid-template-columns: 80%;
    margin: auto;
    padding-left: 1em; 
    padding-top: 1.5em;;  
}

.main1 {
    align-items: center;
    grid-area: main1;


}

.box1 {
    width: 80%;
    height: auto;
    background-color: darkmagenta;
    color: palegoldenrod;
    padding: 1em 2em 2em 2em;
    margin:auto;
    
}

.main2 {
    background-color: indigo;
    text-align: center;
    grid-area: main2;

}

.main3 {
    background-color: limegreen;
    padding: 1em 1.5em;
    grid-area: main3;
    
}

.picbox {
    justify-items: auto;
    
    padding: .5em;
}

@media only screen and (min-width: 500px) {

    body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "head nav"
        "main main"
        "foot foot";
    }

    .main {
        display: grid;
        grid-template: "main1 main2 main3" 1fr;

    }
    
    .main1 {
        display: none;
    }

    .nav { 
        background-color: indigo;
    }

    
}
